frr version 4.0+cl3u13
frr defaults datacenter
hostname {{ inventory_hostname }}
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
{% if irbs is defined %}
{% for irb in irbs -%}
{% if irb['l3vni'] is defined -%}
{% if irb['vrf'] is defined -%}
vrf {{ irb['vrf'] }}
  vni {{ irb['l3vni'] }}
  exit-vrf
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

{% if out_of_band is defined %}
{% if out_of_band['vrf'] is defined %}
interface eth0 vrf {{ out_of_band['vrf'] }}
{% if out_of_band['descr'] %}
 description {{ out_of_band['descr'] }}
{% endif %}
{% endif %}
{% endif %}

{% if routing is defined %}
{% if routing['asn'] is defined %}
router bgp {{ routing['asn'] }}
{% if routing['router_id'] is defined %}
 bgp router-id {{ routing['router_id'] }}
{% endif %}
 bgp bestpath as-path multipath-relax
 {% if routing['ports'] is defined %}
 {% for port in routing['ports'] %}
 neighbor {{ port }} interface remote-as external
 {% enfor %}
 {% endif %}
 address-family ipv4 unicast
  redistribute connected route-map LOOPBACK_ONLY
 exit-address-family
 address-family l2vpn evpn
 {% if routing['ports'] is defined %}
 {% for port in routing['ports'] %}
 neighbor {{ port }} activate
 {% enfor %}
 {% endif %}
 {% if routing['evpn']['adv_all_vni'] is defined %}
 {% if routing['evpn']['adv_all_vni'] is True %}
  advertise-all-vni
 {% endif %}
 {% endif %}
 {% if routing['evpn']['adv_default_gw'] is defined %}
 {% if routing['evpn']['adv_default_gw'] is True %}
  advertise-default-gw
 {% endif %}
 {% endif %}

{% if irbs is defined %}
{% for irb in irbs -%}
{% if irb['l3vni'] is defined -%}
{% if irb['vrf'] is defined -%}
router bgp {{ irb['l3vni'] }} vrf {{ irb['vrf'] }}
 address-family ipv4 unicast
  redistribute connected
 exit-address-family
 address-family l2vpn evpn
  advertise ipv4 unicast
 exit-address-family
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endif %}

route-map LOOPBACK_ONLY permit 10
 match interface lo
!
line vty